@model SaborCajabambino.Models.Inventario

@{
    ViewData["Title"] = "Edit";
}
<link href="~/css/editStylecss.css" rel="stylesheet" />

<h3>Editar Inventario</h3>
<hr />
<div class="d-flex justify-content-center align-items-center min-vh-100">
    <div class="card shadow">
        <div class="card-body">
            <form asp-action="Edit" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="IdItem" />
                <div class="form-group">
                    <label asp-for="ItemNombre" class="control-label">Nombre</label>
                    <input asp-for="ItemNombre" class="form-control" />
                    <span asp-validation-for="ItemNombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IdItemCategoria" class="control-label">Categoría</label>
                    <select asp-for="IdItemCategoria" class="form-control" asp-items="ViewBag.IdItemCategoria">
                        <option value="">-- Seleccione una categoría --</option>
                    </select>
                    <span asp-validation-for="IdItemCategoria" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UnidadMedida" class="control-label">Unidad de medida</label>
                    <input asp-for="UnidadMedida" class="form-control" />
                    <span asp-validation-for="UnidadMedida" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Stock" class="control-label">Stock</label>
                    <input asp-for="Stock" class="form-control" />
                    <span asp-validation-for="Stock" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CostoPorUnidad" class="control-label">Costo por unidad</label>
                    <input asp-for="CostoPorUnidad" class="form-control" />
                    <span asp-validation-for="CostoPorUnidad" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FechaDeExpiracion" class="control-label">Fecha de expiración</label>
                    <input asp-for="FechaDeExpiracion" class="form-control" type="date" />
                    <span asp-validation-for="FechaDeExpiracion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NivelReorden" class="control-label">Nivel mínimo de reorden</label>
                    <input asp-for="NivelReorden" class="form-control" />
                    <span asp-validation-for="NivelReorden" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CantidadReorden" class="control-label">Cantidad de reorden</label>
                    <input asp-for="CantidadReorden" class="form-control" />
                    <span asp-validation-for="CantidadReorden" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NecesitaReorden" class="control-label"></label>
                    <input asp-for="NecesitaReorden" class="form-control" />
                    <span asp-validation-for="NecesitaReorden" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                </div>
            </form>
            <div>
                <span class="badge badge-status bg-warning"> <a asp-action="Index">Volver a lista de items</a></span>

            </div>
        </div>
    </div>
</div> 
        

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
